<header class="main-header">
  <div class="wrapper">
    <nav class="main-nav">
      <a class="logo" [routerLink]="['/']" href="/">
        <img src="./assets/images/logo.svg" alt="logo"/>
      </a>
      <ul class="site-navigation">
        <li class="site-navigation-item">
          <a href="#">СОЗДАТЬ</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/begin']">ПРОЙТИ</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/']">О НАС</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/login']">ВОЙТИ</a>
        </li>
        <!--          <li class="site-navigation-item">-->
        <!--            {isAuth ? <Link className="authorization" href="profile">ПРОФИЛЬ</Link> :-->
        <!--                <Link className="authorization" href="login">ВОЙТИ</Link>}-->
        <!--          </li>-->
      </ul>
    </nav>
  </div>
</header>
<main class="main-main">
  <div class="wrapper">
    <section class="hero">
      <img class="img-phone-version" src='./assets/images/phone-version.png' alt="мобильная версия картинка"/>
      <div class="main-heading-description">
        <h1 class="main-heading">Веб платформа swipepick</h1>
        <p class="main-description">Веб-сервис для создания тесов  или опросов,
          прохождение котрых реализовано удобными и быстрыми свайпами.
          Хотите создать или пройти опрос или тест прямо сечас?</p>
      </div>
      <ul class="little-navigation">
        <li class="little-navigation-item">
          <a href="#" class="little-navigation-item-link">СОЗДАТЬ</a>
        </li>
        <li class="little-navigation-item">
          <a href="#" class="little-navigation-item-link">ПРОЙТИ</a>
        </li>
      </ul>
    </section>
    <section class="pluses">
      <h2 class="about-heading">swipepick это:</h2>
      <ul class="advantages">
        <li class="advantages-item img-swipe">
          <p>Прохождение тестов с помощью свайпов</p>
        </li>
        <li class="advantages-item img-statistics">
          <p>Подробная статистика теста или опроса</p>
        </li>
        <li class="advantages-item img-qr-code">
          <p>Автоматическое создание qr-кодов</p>
        </li>
        <li class="advantages-item img-interface">
          <p>Удобный и понятный интерфейс</p>
        </li>
        <li class="advantages-item img-comfort">
          <p>Комфортное прохождение на любом устройстве</p>
        </li>
        <li class="advantages-item img-topic">
          <p>Создание тестов или опросов на любую тему</p>
        </li>
      </ul>
    </section>
    <section class="manual">
      <h2 class="manual-heading">Создать тест или опрос? - Легко!</h2>
      <div class="manual-flex-box">
        <img class="img-video" src='./assets/images/video.png' alt="затычка видео"/>
        <ol class="manual-list">
          <li class="manual-list-item">
            <p>Зарегистрируйтесь на плаформе</p>
          </li>
          <li class="manual-list-item">
            <p>Перейдите в личный кабинет </p>
          </li>
          <li class="manual-list-item">
            <p>Нажмите создать</p>
          </li>
          <li class="manual-list-item">
            <p>Составте тест или опрос</p>
          </li>
          <li class="manual-list-item">
            <p>Получие qr-код и ссылку на прохождение теста</p>
          </li>
        </ol>
      </div>
    </section>
  </div>
</main>

