<div class="background">
  <div class="form_wrapper">
  <!--  <Logo class="logo" src={logo2}/>-->
    <a class="logo" [routerLink]="['/']" href="/">
      <img src="./assets/images/logo2.svg" alt="logo"/>
    </a>
    <div class="login_form">
      <div class="button_wrapper">
        <button [ngClass]="{button_switch: !isLogin, button_switch_activated: isLogin}" (click)="isLogin = true">ВХОД</button>
        <button [ngClass]="{button_switch: isLogin, button_switch_activated: !isLogin}" (click)="isLogin = false">РЕГИСТРАЦИЯ</button>
      </div>
      <form *ngIf="isLogin; else registrationFormBlock" [formGroup]="formLogin" (ngSubmit)="loginSubmit()">
        <div class="registration_inputs">
          <div class="input_wrapper">
            <label for="emailLogin">Ваш E-mail</label>
            <input class="input" id="emailLogin" type="email" formControlName="emailLogin"/>
          </div>
          <div class="input_wrapper">
            <label for="passwordLogin">Ваш пароль</label>
            <input class="input" id="passwordLogin" type="password" formControlName="passwordLogin"/>
          </div>
          <button type="submit" class="send_button">ВОЙТИ</button>
        </div>
      </form>

      <ng-template #registrationFormBlock>
        <form [formGroup]="formRegister" (ngSubmit)="registerSubmit()">
          <div class="registration_inputs">
            <div class="input_wrapper">
              <label for="emailRegister">Ваш E-mail</label>
              <input class="input" id="emailRegister" type="email" formControlName="emailRegister"/>
            </div>
            <div class="input_wrapper">
              <label for="passwordRegister">Придумайте пароль</label>
              <input class="input" id="passwordRegister" type="password" formControlName="passwordRegister"/>
            </div>
            <div class="input_wrapper">
              <label for="nameRegister">Ваше имя</label>
              <input class="input" id="nameRegister" type="text" formControlName="nameRegister"/>
            </div>
            <div class="input_wrapper">
              <label for="lastnameRegister">Ваша фамилия</label>
              <input class="input" id="lastnameRegister" type="text" formControlName="lastnameRegister"/>
            </div>
            <button type="submit" class="send_button">ЗАРЕГИСТРИРОВАТЬСЯ</button>
          </div>
        </form>
      </ng-template>

    </div>
  </div>
</div>

