<div class="background">
  <div *ngIf="test; else loading">
    <div *ngIf="isEnd; else question" class="result_wrapper">
      <div class="text"> Ваш результат <div class="result">{{result}}/{{test.length}}</div></div>
      <a class="button_finish" [routerLink]="['/']">ЗАВЕРШИТЬ</a>
    </div>
    <ng-template #question>
      <p class="number">{{questionNumber + 1}}/{{test.length}}</p>
      <div class="wrapper">
        <div class="question">{{test[questionNumber].question}}</div>
        <div class="responses">
          <button *ngFor="let option of test[questionNumber].options; let optionIndex = index"
                  class="response"
                  (click)="saveUserResponse(optionIndex)"
                  >{{option}}</button>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #loading>
    <div class="loading">
      <img src="assets/images/loading.gif" alt="loading">
    </div>
  </ng-template>
</div>
